* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;

    /* Centralizar conteúdo do body */
    display: grid;
    place-items: center;
    height: 100vh;
}

/* SCREEN1 */
.screen1 {
    background: #FFF;
    border-radius: .5rem;
    box-shadow: 0rem 2.0rem 5.0rem 0rem rgba(0, 0, 0, 0.80);

    width: 42.8rem;
    height: 42.8rem; 
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    justify-content: center;
    align-items: center;
}

.screen1 h1 {
    color: #34355B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;

    margin-bottom: 1.4rem;
}

.screen1 p {
    color: #34355B;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-size: 1.5rem;

    margin-bottom: 2.6rem;
}

.screen1 button {
    background: #FFF;
    border: none;

    cursor: pointer;
}

.screen1 button:hover {
    width: 27rem;
    height: 21.3rem;
    transition: 3s;
}

.screen1 img {
    width: 24.8rem;
    height: 19.1rem;

    text-align: center;
}


/* SCREEN2 */
.screen2 {
    background: #FFF;
    border-radius: .5rem;
    box-shadow: 0rem 2.0rem 5.0rem 0rem rgba(0, 0, 0, 0.80);
    
    width: 42.8rem;
    height: 56.4rem;
    padding: 4.8rem 6.4rem;
    gap: 1.0rem;

}
.screen2 h1, p, img {
    width: 30rem;   
    margin-bottom: 1.7rem;
}

.screen2 h1 {
    color: #34355B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.4rem;
}

.screen2 p {
    /* Background cinzentado */
    background: #E4EDF1;
    box-shadow: .2rem .2rem .2rem 0rem rgba(85, 85, 85, 0.50);

    padding: 1rem;
    gap: 1rem;

    color: #000;
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    font-size: 2.4rem;
}

.screen2 img {
    height: 11.5rem;
}

.screen2 button {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

    /* margin: solução a revisar */
    margin-left: 6rem;
    padding: 1.6rem;
    gap: 1rem;

    background: #FF9500;
    border: none;
    border-radius: .4rem;

    cursor: pointer;
    transition: background .3s;
}

.screen2 button:hover {
    background-color: #faa62f;
}
.hide {
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
